$primary: #49240F;
$secondary: rgb(41, 171, 226);
$dark-navy: rgb(42, 54, 71);
$white: rgb(246, 247, 248);
$light-grey: rgb(205, 205, 205);

.v-btn {
    background-color: $dark-navy;
    color: white;
}


.btn-outlined {
        background: none;
        color: $dark-navy;
}


h1 {
    color: $dark-navy;
}