$primary: rgb(42, 54, 71);
$secondary: rgb(41, 171, 226);
$dark-navy: rgb(42, 54, 71);
$white: rgb(246, 247, 248);
$light-grey: rgb(205, 205, 205);





.btn-default {
  background-color: $dark-navy;
  color: white;
}

.btn-outlined {
  background: none;
  color: $dark-navy;
}



h1 {
  color: $dark-navy;
}

.disable {
  opacity: 0.3 !important;
  pointer-events: none !important;
}
